@page "/product/update/{id:int}"

<h3>Product Update</h3>

@if (Model is null)
{
    <p>Loading...</p>
}
else
{
    <ProductFormulaire ButtonText="Update the product" Model="@Model" OnValidSubmit="OnSubmit" />
}